
 /* links */
  a:link{
        color: #85c28a;
        text-decoration: none;
    }

    a:visited{
        color: #85c28a;
        ;
    }

    a:active {
        color: #13b19c;
    }


/* text*/
body {
    background-color: #ffeee4;
    margin: 0;
}

img.header{
    max-width: 25%;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('Nanum_Gothic/NanumGothic-Regular.ttf');

    font-family: 'Quicksand';
    src: url('Quicksand/Quicksand-VariableFont_wght.ttf');

    font-family: 'ZenKaku';
    src: url('Zen_Kaku_Gothic_New/ZenKakuGothicNew-Regular.ttf');
}
h2,h3,h4, header {
    font-family: ZenKaku, Quicksand,  sans-serif;       
    text-align: center;
}

        h2{
            font-size: 1.5rem;
            color:  #ff7c74
            ;
        }

        h3{
            font-size: 1.125rem;
        }

        h4{
            font-size: 1rem;
            color:  #b91a42;

        }

        header {
            background-color: #ffffff;
            color: #ffd4b9;
        }
    

/*images*/
.image {
    max-width:  100%;
    height: auto;
}

.banner {
    max-width:  100%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.resume {
    max-width: 100%;
    width: 85%;
    display: block;
    height: auto;
    margin: 1.5rem auto;
}

.resume {
    max-width: 100%;
    width: 85%;
    display: block;
    height: auto;
    margin: 1.5rem auto;
}