@font-face {
  
    font-family: 'Quicksand';
    src: url('Quicksand/Quicksand-VariableFont_wght.ttf');

}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
} 
 
.navbar {
    font-size: 1.35rem;
    background-color: #ffffff;
    position: fixed;
    top:0; 
    width: 100%; 
    font-family: 'Quicksand', sans-serif;
    padding: 1rem;
        }


.navbar .menu li {
    list-style: none;
    display: inline-block;
    transition: color 0.2s ease;
}

    .navbar .menu li a{
        color: #ffb560; 
    }


.navbar .menu li a:hover {
    color: #ff9b74
}

.hamburger {
    color: #ff9b74; 
}

.navbar .max-width {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.max-width{
    margin: auto;
    padding: 0 1.5rem;
    max-width: 830px; 
}
    
/* text*/
body {
    /*background-color: #ffeee4;*/
    background-color: #ffe3d2 ;
    margin: 0;
}

img.header{
    max-width: 25%;
}


h2,h3,h4, header {
    font-family:  Quicksand,  sans-serif;       
}

        h2{
            font-size: 1.5rem;
            color:  #ff7c74 ;
        }

        h3{
            font-size: 1.125rem;
            color:  #664c4c ;

        }

        h4{
            font-size: 1rem;
            color:  #b91a42;

        }



.header {
    padding: 2rem; 
}  

/*images*/
.logo {
    max-width:  100%;
    height: auto;
}

.banner {
    max-width:  100%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top:150px;
}

.portrait {
    max-width:  100%;
    height: auto;
    margin-top:150px;
    margin-left: 5%;
    float: left;
}

.info {
    margin-top:170px;
    margin-left: 35%;
    margin-right: 5%;
    text-indent: 30px;
}

.more {
    margin-left: 35%;
    margin-right: 5%;
    text-indent: 30px;
}

.resume {
    max-width: 100%;
    width: 85%;
    display: block;
    height: auto;
    margin: 1.5rem auto;
}

.gallery {
    max-width: 100%;
    width: 80%;
    display: block;
    height: auto;
    margin: 1.5rem auto;
    margin-top: 250px;
    float: left;
}

.genre{
    color: #ff7c74;
    font-family: 'Quicksand', sans-serif;
    margin: 1.5 rem auto;
    font-size: 1.35rem;
    margin-top: 500px;
    text-align: center;

}

.email {
    margin-top: 170px;
}